

.footer {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    justify-content: space-between;
    background-color: #1c1e26;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 25px;
}

.leftSide {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.linked {
    height: 30px;
}

.language {
    display: flex;
    gap: 5px;
    color: beige;
    cursor: pointer;
    border: none;
    margin-right: 50px;
    align-items: center;
    color:rgb(0, 140, 255);
    background-color: #1c1e26;
}