

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    justify-content: space-between;
    background-color: #1c1e26;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.linked {
    height: 30px;
    margin: 0px 10px;
}

.language {
    display: flex;
    color: beige;
    cursor: pointer;
    border: none;
    margin-right: 50px;
    align-items: center;
    color:rgb(0, 140, 255);
    background-color: #1c1e26;
}

.ikon {
    margin-right: 5px;
}