
.body {
    width: 100%;
    display: block;
    text-align: center; 
    margin-top: 75px;
}

.bodyArticles {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10vw 100px 10vw;
}

.emptyAtricles {
    margin-top: 50px;
    font-size: 22px;
    text-align: center;
    color: beige;
}
